@page "/"
@using BlazorApp.Shared
@inject HttpClient Http

<PageTitle>Words</PageTitle>
<div class="background p-3">
	<h1>Welcome to Words</h1>
	<div class='d-lg-none'>
		<div>Click on <a accesskey="w" class="btn btn-lg btn-outline-primary" href="words/"><u>W</u>ords</a> to start.
		</div>
		<div>or try <a accesskey="s" class="btn btn-lg btn-outline-primary" href="definitions/">Definition<u>s</u></a>
		</div>
		<div>or <a accesskey="c" class="btn btn-lg btn-outline-primary" href="playcodele/"><u>C</u>odele</a></div>
		<div>or <a accesskey="c" class="btn btn-lg btn-outline-primary" href="hangman/">Hangman</a></div>
	</div>
	<div class="d-none d-lg-block">
		Click on <a accesskey="w" class="btn btn-lg btn-outline-primary" href="words/"><u>W</u>ords</a> to start.
		or try <a accesskey="s" class="btn btn-lg btn-outline-primary" href="definitions/">Definition<u>s</u></a>
		or <a accesskey="c" class="btn btn-lg btn-outline-primary" href="playcodele/"><u>C</u>odele</a>
		or <a accesskey="c" class="btn btn-lg btn-outline-primary" href="hangman/">Hangman</a>
	</div>

	<p class='my-3'>Created Using:</p>
	<section>
		<article class="d-lg-none" style="display:flex;flex-direction:column">
			<div class="card m-2 p-2" style="width: 15rem;">
				<a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank"><img
						src="/images/BlazorIcon.png" class="card-img-top d-block mx-auto img-responsive"
						style="max-height:100px;max-width:100px" alt="Blazor Logo"></a>
				<div class="card-body">
					<h5 class="card-title">Blazor</h5>
					<p class="card-text">Blazor Client WebAssembly Application</p>
				</div>
			</div>
			<div class="card m-2 p-2" style="width: 15rem;">
				<a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank"><img src="/images/ASP-NET-logo.png"
						class="card-img-top d-block mx-auto img-responsive" style="max-height:100px;max-width:100px"
						alt="Dot Net Logo"></a>
				<div class="card-body">
					<h5 class="card-title">ASP.NET</h5>
					<p class="card-text">ASP.NET Web Application</p>
				</div>
			</div>
		</article>

		<div class="d-none d-lg-block">
			<article style="display:flex;flex-direction:row">
				<div class="card m-2 p-2" style="width: 18rem;">
					<a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank"><img
							src="/images/BlazorIcon.png" class="card-img-top" alt="Blazor Logo"></a>
					<div class="card-body" style="text-align:center">
						<h5 class="card-title">Blazor</h5>
						<p class="card-text">Blazor Client WebAssembly Application</p>
					</div>
				</div>
				<div class="card m-2 p-2" style="width: 18rem;">
					<a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank"><img
							src="/images/ASP-NET-logo.png" class="card-img-top" alt="Dot Net Logo"></a>
					<div class="card-body" style="text-align:center">
						<h5 class="card-title">ASP.NET</h5>
						<p class="card-text">ASP.NET Web Application</p>
					</div>
				</div>
			</article>
		</div>


	</section>
<p class='text-secondary mx-2' style='font-size:10px; position: fixed; bottom: 0; left: 0; right: 0;'>Using
    @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</p>
</div>