@page "/"

<PageTitle>Words</PageTitle>

<h1>Welcome</h1>

Click on <a class="btn btn-lg btn-primary" href="words/">Words</a> to start.
<hr>
<img src="/images/BlazorwithKomodoDragon.png" class="d-none d-lg-block" />
