@inherits LayoutComponentBase
@namespace BlazorApp.Client.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            WORDS
            <span class="text-info" style="font-size:xx-small"></span>
        </a>
        <button accesskey="-" title="Navigation menu (-)" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="page @(collapseNavMenu ? "" : "menu-open")">
    <div class="sidebar collapse @(collapseNavMenu ? "" : "show")">
        <NavMenu />
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }
}
