@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="copyright text-center">&copy; Words @DateTime.Now.Year, Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</div>
            <a  href="https://www.wordsapi.com/" target="_blank" class="btn btn-outline-secondary ml-md-auto">Words API</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
