@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

<div class="background">
    <div class="nav-container">
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink accesskey="*" class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="nav-icon">🏠</span>
                        <span class="nav-label">Home</span>
                        <span class="nav-kbd"><kbd>*</kbd></span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink accesskey="^" class="nav-link" href="words">
                        <span class="nav-icon">🎯</span>
                        <span class="nav-label">Words</span>
                        <span class="nav-kbd"><kbd>^</kbd></span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink accesskey="#" class="nav-link" href="definitions">
                        <span class="nav-icon">📚</span>
                        <span class="nav-label">Definitions</span>
                        <span class="nav-kbd"><kbd>#</kbd></span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink accesskey="%" class="nav-link" href="hangman">
                        <span class="nav-icon">🎪</span>
                        <span class="nav-label">Hangman</span>
                        <span class="nav-kbd"><kbd>%</kbd></span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink accesskey="+" class="nav-link" href="playcodele">
                        <span class="nav-icon">💻</span>
                        <span class="nav-label">Codele</span>
                        <span class="nav-kbd"><kbd>+</kbd></span>
                    </NavLink>
                </div>            
                <div class="nav-item px-3">
                    <NavLink accesskey="=" class="nav-link" href="scrabblegame">
                        <span class="nav-icon">🎲</span>
                        <span class="nav-label">Scrabble</span>
                        <span class="nav-kbd"><kbd>=</kbd></span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink accesskey="~" class="nav-link" href="aiwordtutor">
                        <span class="nav-icon">🤖</span>
                        <span class="nav-label">AI Word Tutor</span>
                        <span class="nav-kbd"><kbd>~</kbd></span>
                    </NavLink>
                </div>            
                <div class="nav-item px-3">
                    <NavLink accesskey="$" class="nav-link" href="https://www.wordsapi.com" target="_blank">
                        <span class="nav-icon">ℹ️</span>
                        <span class="nav-label">Words Info</span>
                        <span class="nav-kbd"><kbd>$</kbd></span>
                    </NavLink>
                </div>            
                <div class="nav-item px-3">
                    <NavLink accesskey="!" class="nav-link" href="https://github.com/Mark-Phillipson/cautious-robot" target="_blank">
                        <span class="nav-icon">📂</span>
                        <span class="nav-label">GitHub</span>
                        <span class="nav-kbd"><kbd>!</kbd></span>
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string? NavMenuCssClass { get; set; }
    [Parameter]
    public EventCallback ToggleNavMenu { get; set; }
}
